small
    | Copyright © 2015
    | |
    a(href="https://github.com/n400")  Summer Schrader
    br
    small
    | Built
    a(href="http://html9responsiveboilerstrapjs.com/")  buzzword-compliant
    |  with
    a(href="http://harpjs.com")  Harpjs,
    a(href="http://learnboost.github.io/stylus")  Stylus
    a(href="http://jade-lang.com/")  Jade,
    a(href="http://gulp.js.com")  Gulp,
    a(href="http://www.browsersync.io")  Browsersync,
    |  and
    a(href="http://nodejs.org")  Node.
    | Hosted on
    a(href="http://divshot.com")  Divshot.
    |  Source on
    a(href="https://github.com/n400/n400.github.io")  GitHub Pages.