body
  font-family 'Slabo 27px' //Slabo 13px, Roboto Condensed, Vollkorn
h1,h2,h3,h4,h5, .thick
  font-family bigjohn
time, .slim
  font-family slimjoe

@font-face{
  font-family: 'BigJohn';
  src: url('../fonts/big_john-webfont.eot');
  src: url('../fonts/big_john-webfont?#iefix') format('embedded-opentype'),
  url('../fonts/big_john-webfont.woff') format('woff'),
  url('../fonts/big_john-webfont.ttf') format('truetype'),
  url('../fonts/big_john-webfont.svg#webfont') format('svg'); }
@font-face{    font-family: 'SlimJoe';
  src: url('../fonts/slim_joe-webfont.eot');
  src: url('../fonts/slim_joe-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/slim_joe-webfont.woff') format('woff'),
  url('../fonts/slim_joe-webfont.ttf') format('truetype'),
  url('../fonts/slim_joe-webfont.svg#webfont') format('svg'); }
