if current.source[0] === 'posts' || 'index'

    //Uncomment once projects are populated
    //
    //h2 Projects
    //!= partial("_shared/gallery")
    //h2 Blog posts
    //!= partial("_shared/panels")

    != partial("posts/index")

    //root delivers blog index