.comments
  color dark
  background-attachment fixed
  padding 2em 2em 1em 2em
  h1,h2,h3,h4,h5
    margin-top 0
  h2
    margin-bottom 1em

.comments
  .written-content
    background rgba(255,255,255,0.7)