footer
  font-family "helvetica neue", helvetica, arial, sans-serif //to match disqus
  text-align center
  clear both
  margin 1em 0
  line-height 1
  small
    color ltgrey
    font-size .6rem
  small a
    color mdgrey