nav
  font-family slimjoe
  font-size 50px
  text-align center
  ul
    display inline-block
    white-space nowrap
    margin 1em auto
    list-style-type none
    padding 0
    li
      display inline-block
    .active
      font-family bigjohn