//needs refactor / modularization

.dir-posts, .dir-index
  .panel
    .hero-content
      background rgba(0,0,0,0.4)
      a,h1,h2,h3,h4,h5,p
        margin 0
        color light

.panel
  overflow hidden
  background-size cover
  background-attachment fixed
.hero-content
  padding 2.5% 5%
  margin 5% auto
  max-width: 30em
  .excerpt
    p
      margin 5% auto
    h4
      margin-top 5%
      text-align right
    img, video
      max-width 100%
      margin 0 auto
      display block
  .readmore
      white-space nowrap
      display inline-block