/*
   header
      background dark
      @media (min-width: 540px)
        height 44px
      h1
        font-size 1.5em
        @media (min-width: 740px)
          font-size 44px
        color transparent
        margin 0
        float left
        -webkit-text-fill-color transparent
        background url(/images/logo.jpg) no-repeat
        background-size contain
        line-height 1
        .top
          font-family slimjoe
      h1, nav
        letter-spacing -.1em
        line-height initial
        a, li
          min-height 44px
      nav
        font-family slimjoe
        font-size 50px
        text-align right
        ul, ol
          display inline-block
          white-space nowrap
          margin 0
          list-style-type none
          padding 0
          li
            display inline-block
            a
              color light
           .active
              font-family bigjohn

*/
